# SCS2013 Exercise 04

**This exercise notebook will go through the key data structures in Python:**

Lists, Tuples, Dictionaries, Sets are 4 **collection types** in Python

## Lists (리스트)

List is a collection which is **ordered (index 사용)** and **changeable**. It **allows duplicate** items
  - it is a data sequence that can hold multiple, different types of data 

  - represented inside **brackets "[]"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  list_name = [element1, element2, ...]
  ```
  - mutability = changeable: the values inside a list are changeable
  - it has an index order that starts with `0` - we can access each element inside a list with its index number: `list_name[index]`

In [ ]:
# Create a list
lst = ['Hello World', 3, 2.5, ['Python', 'Programming'], True]
lst

['Hello World', 3, 2.5, ['Python', 'Programming'], True]

In [ ]:
# List indexing, slicing and striding
# check the length of the list
print(len(lst))

# check the index and slicing 
print(lst[0])
print(lst[2])
print(lst[1:3])

5
Hello World
2.5
[3, 2.5]

In [ ]:
print(lst[-2])

# check the type of lst[-2]
print(type(lst[-2]))

# access the element of the nested list
print(lst[-2][0])
print(lst[-2][1])
# print(lst[-2][0][-1])

['Python', 'Programming']
<class 'list'>
Python
Programming

In [ ]:
# Mutability 
print(lst)

# change index 2 value: using '=' 
lst[2] = 1.4
lst[-2][1] = 'Welcome!'
print(lst)

['Hello World', 3, 1.4, ['Python', 'Programming'], True]
['Hello World', 3, 1.4, ['Python', 'Welcome!'], True]

**List Methods**

Here are some list methods:
- `.append(a)`: adding element `a` to a list
- `.insert(idx, a)`: inserting element `a` to a particular position `idx` of the list
- `.index(a)`: show the index of an element `a`
- `.clear()`: clear all elements of the list
- `.remove(a)`: removing an element `a` of the list
- `.sort()`: sorting the elements of the list
- `.reverse()`: reversing the order of elements
- `.count(a)`: counting how many elements `a` there are in the list
- `sum()`: sum all the elements in the list
- `min()`: show the element with minimum value in the list
- `max()`: show the element with maximum value in the list
- `del list[idx]`: delete an element at a particular position `idx` of the list

**note**: `.append()`, `.insert()`, `.clear()`, `.remove()`, `.reverse()`: list의 값을 바로 변경함 (mutability)

In [ ]:
lst_1 = ['Hello', 'World', 31, 2.7, True, '31']
print('Original list:', lst_1)

# .append()
lst_1.append("Append")
print('After .append():', lst_1)

# .insert()
lst_1.insert(3, "Insert")
print('After .insert():', lst_1)

Original list: ['Hello', 'World', 31, 2.7, True, '31']
After .append(): ['Hello', 'World', 31, 2.7, True, '31', 'Append']
After .insert(): ['Hello', 'World', 31, 'Insert', 2.7, True, '31', 'Append']

In [ ]:
# .index()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
print(lst_1.index(31))

['Hello', 'World', 31, 2.7, True, 'True', '31']
2

In [ ]:
lst_1 = ['Hello', 'World', 31, 2.7, True, '31']
print('Original list:', lst_1)

# .clear()
lst_1.clear()
print('After .clear():', lst_1)

lst_1 = ['Hello', 'World', 31, 2.7, True, '31']
print('Original list:', lst_1)

# .remove()
lst_1.remove('World')
print('After .remove():', lst_1)
# what if removing again
# lst_1.remove('World')

# .pop()
lst_1.pop(3)
print('After .pop():', lst_1)

# del 
del lst_1[1]
print('After del:', lst_1)

Original list: ['Hello', 'World', 31, 2.7, True, '31']
After .clear(): []
Original list: ['Hello', 'World', 31, 2.7, True, '31']
After .remove(): ['Hello', 31, 2.7, True, '31']
After .pop(): ['Hello', 31, 2.7, '31']
After del: ['Hello', 2.7, '31']

In [ ]:
lst_1 = [4, 2, 6, 5, 2, 0, 4]
print('Original list:', lst_1)

# .reverse()
lst_1.reverse()
print('After .reverse():', lst_1)

# .sort()
lst_1.sort()
print('After .sort():', lst_1)

Original list: [4, 2, 6, 5, 2, 0, 4]
After .reverse(): [4, 0, 2, 5, 6, 2, 4]
After .sort(): [0, 2, 2, 4, 4, 5, 6]

In [ ]:
lst_1 = [4, 2, 6, 5, 2, 0, 4]
print('Original list:', lst_1)

# .index()
print(lst_1.index(2))

# .count()
print(lst_1.count(2))

print(lst_1) # list is not changed

Original list: [4, 2, 6, 5, 2, 0, 4]
1
2
[4, 2, 6, 5, 2, 0, 4]

In [ ]:
# sum(), min(), max()
lst_1 = [3, 75, 6, 23, 3, 13]
print(lst_1)

print(sum(lst_1))
print(min(lst_1))
print(max(lst_1))

print(lst_1) # list is not changed

[3, 75, 6, 23, 3, 13]
123
3
75
[3, 75, 6, 23, 3, 13]

## Tuples (튜플)

Tuple is a collection which is **ordered** and **unchangeable**. It **allows duplicate** items
  - it is a data sequence that can hold multiple, different types of data 

  - represented inside **parenthesis "()"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  tuple_name = (element1, element2, ...)
  ```

  - immutability = unchangeable: the values inside a tuple cannot be changed
  - it has an index order that starts with `0` - we can access each element inside a tuple with its index number

In [ ]:
# create a tuple
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], True) 
tup

('Hello World', 3, 2.5, ['Python', 'Programming'], True)

In [ ]:
# 괄호를 생략해도 무방
tup = 3, 2.4, 5

print(type(tup))
print(tup)

<class 'tuple'>
(3, 2.4, 5)

In [ ]:
# tuple indexing, slicing and striding
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], True) 
print(tup)

# length of tuple
print(len(tup))

# indexing, slicing, ...
print(tup[0])
print(tup[3:])

print(tup[-2])
print(tup[-1])

print(tup[-2][0])

('Hello World', 3, 2.5, ['Python', 'Programming'], True)
5
Hello World
(['Python', 'Programming'], True)
['Python', 'Programming']
True
Python

In [ ]:
# Immutability 
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], True) 
print(tup)

tup[2] = 1.4
print(tup)

del tup[1]
print(tup)

('Hello World', 3, 2.5, ['Python', 'Programming'], True)

TypeError: ignored

**Tuple Methods**

Here are some tuple methods:
- `.index()`: show the index of an element
- `.count()`: counting how many elements there are in the tuple
- `sum()`: sum all the elements in the tuple
- `min()`: show the element with minimum value in the tuple
- `max()`: show the element with maximum value in the tuple

**note**: 'tuple' object has no attribute `.append(), .insert(), .clear(), .remove(), .reverse()` (because of immutability)

In [ ]:
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
print('Original tuple: ', tup_1)

tup_1.reverse()
tup_1

Original tuple:  ('Hello', 'World', 31, 2.7, True, 'True', '31')

AttributeError: ignored

In [ ]:
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
print('Original tuple: ', tup_1)

# .index()
print(tup_1.index(31))
print(tup_1.index('31'))
# tup_1.index(3.2)

# .count()
print(tup_1.count('True'))

Original tuple:  ('Hello', 'World', 31, 2.7, True, 'True', '31')
2
6
1

In [ ]:
# sum(), min(), max()
tup_1 = (3, 75, 6, 23, 3, 13)
print('Original tuple:', tup_1)

print(sum(tup_1))
print(min(tup_1))
print(max(tup_1))

Original tuple: (3, 75, 6, 23, 3, 13)
123
3
75

## Dictionaries (딕셔너리)

Dictionary is a collection which is **unindexed** (ordering is not significant!!) and **changeable**. It has **no duplicate** items.
  - it is a data sequence that can hold multiple **"key-value" pairs**

  - represented inside **curly brackets "{}"**
  - key-value pairs are separated with **commas ","**
  - key and value is spearated by a **colon ":"**
  - **Syntax**
  ```
  dictionary_name = {key1:value1, key2:value2, ...}
  ```
  - can **access each value with its corresponding key** 
  ```
  dict[key]
  dict.get(key)
  ```

  - immutability: the *key* inside a dictionary cannot be changed and also should be unique    
  - mutability: the *value* inside a dictionary is changeable

In [ ]:
# create dictionary 
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

# what if there are duplicated keys?
dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'name': 'James'} 
print(dct)

# what if there are duplicated values?
dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'nickname': 'Kim'}
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'James', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'nickname': 'Kim'}

In [ ]:
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

# access values using their keys or .get()
print(dct['name'])
print(dct.get('name'))

print(dct['age'])
print(dct['birth'])

print(dct['birth'][0])
print(dct['birth'][1])

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
Kim
Kim
27
['March', 9]
March
9

In [ ]:
# Add/Remove a key-value pair
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print('Original dict:', dct)

# Add a pair ('year', 1995)
dct['year'] = 1995
print('After adding a pair:', dct)

# Delete a pair ('age', 27)
del dct['age']
print('After deleting a pair:', dct)

# Change a value of a specific key-value pair 
dct['name'] = 'James'
print('After changing a pair:', dct)

Original dict: {'name': 'Kim', 'birth': ['March', 9], 'age': 27}
After adding a pair: {'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'year': 1995}
After deleting a pair: {'name': 'Kim', 'birth': ['March', 9], 'year': 1995}
After changing a pair: {'name': 'James', 'birth': ['March', 9], 'year': 1995}

**Dicionary Methods**

Here are some dictionary methods:
- `.keys()`: show the keys in a dictionary
- `.values()`: show the values in a dictionary
- `.items()`: create a (key, value) tuple 

- `.clear()`: clear the entire dictionary
- `.copy()`: copy a dictionary
- `.update()`: insert the specific items (key-value, or dictionary) to the dictionary

In [ ]:
# Example: check a list of dictionary's keys, values, and key-value pairs
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print('Original dict:', dct)

# .keys()
print(dct.keys())
print(type(dct.keys()))

dct_key_list = list(dct.keys())
print(dct_key_list)

Original dict: {'name': 'Kim', 'birth': ['March', 9], 'age': 27}
dict_keys(['name', 'birth', 'age'])
<class 'dict_keys'>
['name', 'birth', 'age']

In [ ]:
# .values()
print(dct.values())
print(type(dct.values()))

# .items()
print(dct.items())
print(type(dct.items()))

dict_values(['Kim', ['March', 9], 27])
<class 'dict_values'>
dict_items([('name', 'Kim'), ('birth', ['March', 9]), ('age', 27)])
<class 'dict_items'>

In [ ]:
# in, not in
print('name' in dct.keys())
print('name' in dct) 
print('Name' in dct.keys())

print('Kim' in dct)
print('Kim' in dct.values())

True
True
False
False
True

In [ ]:
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print('Original dict:', dct)

# .clear()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct.clear()
print('After .clear():', dct)

dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print('Original dict:', dct)

# .copy()
c_dct = dct.copy()
print('Copied dict:', c_dct)

# update()
dct_2 = {'year': 1995, 'Language': 'Python'}
dct.update(dct_2)

print('After .update():', dct)
print('Copied dict:', c_dct)

Original dict: {'name': 'Kim', 'birth': ['March', 9], 'age': 27}
After .clear(): {}
Original dict: {'name': 'Kim', 'birth': ['March', 9], 'age': 27}
Copied dict: {'name': 'Kim', 'birth': ['March', 9], 'age': 27}
After .update(): {'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'year': 1995, 'Language': 'Python'}
Copied dict: {'name': 'Kim', 'birth': ['March', 9], 'age': 27}

## Sets (집합)

Set is a collection which is **unordered**, **unchangeable**, and **unindexed**. It has **no duplicate** items
  - represented using **curly brackets "{}"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  set_name = {element1, element2, ... }
  ```

  - immutability = unchangeable: the values inside a set cannot be changed, but we can add/remove items inside a set
  - it does not have an index order - we can use `in` or `not in` to check an element is included in a set or not

In [ ]:
# create a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate
print(set_1)

# create an empty set: set()
set_2 = {} 
print(set_2)
print(type(set_2))

set_2 = set()
print(set_2)
print(type(set_2))

{'A', 2, 3, 'B', 'C'}
{}
<class 'dict'>
set()
<class 'set'>

In [ ]:
# accesing items in a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} 
print(set_1)

print(3 in set_1)
print('a' in set_1)
print('A' in set_1)

{'A', 2, 3, 'B', 'C'}
True
False
True

In [ ]:
# Add/Remove items
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'}
print('Original set:', set_1)

set_1.add(6)
print('After .add():', set_1)

set_1.update(['a','A'])
print('After .update():', set_1)

set_1.remove(3)
print('After .remove():', set_1)

Original set: {'A', 2, 3, 'B', 'C'}
After .add(): {'A', 2, 3, 6, 'B', 'C'}
After .update(): {'A', 2, 3, 6, 'a', 'B', 'C'}
After .remove(): {'A', 2, 6, 'a', 'B', 'C'}

**Set Methods**

Here are some set methods:
- `A.union(B)` or `A | B`: 합집합
- `A.intersection(B)` or `A & B`: 교집합
- `A.difference(B)` or `A - B`: 차집합
- `A.issuperset(B)` or `A >= B`: 포함관계

In [ ]:
# set methods
set_a = {1,2,3,5,7,8}
set_b = {1,2,4,6,7}
set_c = {1,2,3,5}

print(set_a.union(set_b))
print(set_a.intersection(set_b))
print(set_a - set_b)
print(set_a.issuperset(set_b))
print(set_a >= set_c)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 7}
{8, 3, 5}
False
True

## Exercises

### E-1
Given the list `lst`, 
```
lst = ['Hello', 'World', 31, 2.7, True, 'True', '31']
```

Use some list methods to make the `lst` being:
```
['Hello', 'World', 31, 2.7, ('List', 'Python', 2002), True, '31', 20021231]
```

In [ ]:
lst = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst)

# your code here


print(lst)

['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, ('List', 'Python', 2002), True, '31', 20021231]

### E-2

Given the list `lst`, 
```
lst = [35, 7, 47, -7, 101, 2, 7, -13]
```
i) compute the *average value* of the elements inside the list (using some methods) 

ii) sorting the list in *descending order* and 

iii) insert the average value as the *first* element of the list.

Result:
```
print(lst)
>>>
[22.375, 101, 47, 35, 7, 7, 2, -7, -13]
```

In [ ]:
lst = [35, 7, 47, -7, 101, 2, 7, -13]

# your code here
# compute the average value


# sorting in descending order


# insert the average value as the first element


print(lst)

22.375
[-13, -7, 2, 7, 7, 35, 47, 101]
[101, 47, 35, 7, 7, 2, -7, -13]
[22.375, 101, 47, 35, 7, 7, 2, -7, -13]

### E-3

What is the ratio of the minimum and maximum values in the tuple `tup`? 
```
tup = (42, 33, 1002, 84, 10, 492)
```
For example, if minimum value is 2 and maximum value is 5, then the ratio is `2/5 = 0.4`.

In [ ]:
tup = (42, 33, 1002, 84, 10, 492)

# your code here
tup_max = max(tup)
tup_min = min(tup)

ratio = tup_min / tup_max 
print(ratio)

0.00998003992015968

### E-4

Create the dictionary `dct`: 
```
dct = {'name':'Peter', 'birth':[1995, 'April', 10], 'age':38, 'city':'Jeju'}
```
i) Access the value that indicates when the `'Peter'` was born (month) 

ii) Change `'Peter'`'s born city from `'Jeju'` to `'Seoul'` 

iii) Add a new key-value pair: key `'education'` and value `['Dongguk', 'Python']`

iv) Make the name `'Peter'` to be upper-case

Result:
```
print(dct)
>>>
{'name': 'PETER', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'Python']}
```

In [ ]:
# your code here:
# create a dictionary

# born month


# change Peter's born city


# add new key-value


# upper-case 


print(dct)

April
{'name': 'Peter', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul'}
{'name': 'Peter', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'Python']}
{'name': 'PETER', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'Python']}
{'name': 'PETER', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'Python']}

### E-5

Print the value of key 'Python' of 'James' from the dictionary `dct_score`

In [ ]:
dct_score = {
    'Class': {
        'Student1': {
            'Name': 'James', 
            'Scores': {
                'Python': 68,
                'Math': 57,
                'English': 80
            }
        },
        'Student2': {
            'Name': 'Emma', 
            'Scores': {
                'Python': 82,
                'Math': 47,
                'English': 60
            }
        }
    }
}

# your code here

{'Class': {'Student1': {'Name': 'James', 'Scores': {'Python': 68, 'Math': 57, 'English': 80}}, 'Student2': {'Name': 'Emma', 'Scores': {'Python': 82, 'Math': 47, 'English': 60}}}}
68

### E-6

Given two sets `setA` and `setB`: 
```
setA = {"Apple", 34, "Banana", True}
setB = {"Banana", "Melon", False, -1.2, 34}
```
i) compute the union and intersection of two sets 

ii) check the superset relationship between union set and intersection set

iii) compute a set that contains the items that only exist in the union set, and not in the intersection set

In [ ]:
setA = {"Apple", 34, "Banana", True}
setB = {"Banana", "Melon", False, -1.2, 34}
print('setA:', setA)
print('setB:', setB)

# your code here
# union and intersection


# is union superset of intersection?


# what is a set that contains the difference between union and intersection?

setA: {True, 34, 'Banana', 'Apple'}
setB: {False, 34, 'Banana', 'Melon', -1.2}
Union: {False, True, 34, 'Banana', 'Apple', 'Melon', -1.2}
Intersection: {34, 'Banana'}
setU is superset of setI:  True
setU - setI:  {False, True, 'Apple', 'Melon', -1.2}